@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital@0;1&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import "tailwindcss";


body{
  font-family: "Poppins", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and old Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}


.category-card {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 56px;
    padding: 10px 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    text-align: left;
    transition: 0.2s ease;
}

.category-card span {
    display: flex;
    flex-direction: column;
}

.category-card small {
    color: #999;
}

.category-card.selected {
    border: 2px solid #2563eb;
}
